$color-main-white: #fff;
$color-main-ligth-blue: #fafbff;
$color-sidebar-black: #000;
$color-sidebar-light-gray: #9197b3;
$color-sidebar-dark-gray: #757575;
$color-product-black: #292d32;
$color-product-gray: #b5b7c0;
$color-product-green-text: #16c098;
$color-purple: #5932ea;
$color-button-borders-green: #00b087;
$color-button-borders-red: #df0404;
$color-button-bg-red: #ffc5c5;
$color-pagination-borders-gray: #eee;
$color-pagination-bg-gray: #f5f5f5;
$color-pagination-numbers: #404b52;
$color-button-search: #f9fbff;
